@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: 239 239 239;
  --text: 0 0 0;
  --card: #F7F8FA;
  --brand-primary: 1 128 225;
  --brand-secondary: 30 64 175;

  --sidebar-bg-color: 247 248 250;
  --sidebar-text-color: 255 255 255;
  --sidebar-active-bg-color: #D1D5DB;

}

/* Dark theme */
.dark {
  --bg: 17 24 39;
  --text: 243 244 246;
  --card: 31 41 55;
  --brand-primary: 96 165 250;
  --brand-secondary: 59 130 246;
}

/* Utility classes */
body {
  @apply bg-[rgb(var(--bg))] text-[rgb(var(--text))];
}